<ion-content>
  <div class="ais-InstantSearch">
    <h1>Angular InstantSearch e-commerce demo</h1>
    <ais-instantsearch [config]="config">
      <div class="left-panel">
        <ais-configure [searchParameters]="{ hitsPerPage: 8 }"></ais-configure>
      </div>
      <div class="right-panel">
        <ais-search-box></ais-search-box>
        <ais-hits>
          <ng-template let-hits="hits">
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <ion-img
                  src="{{hit.image}}"
                  alt="{{hit.name}}"
                  align="left"
                ></ion-img>
                <div class="hit-name">
                  <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                </div>
                <div class="hit-description">
                  <ais-highlight
                    attribute="description"
                    [hit]="hit"
                  ></ais-highlight>
                </div>
                <div class="hit-price">Rs{{hit.price}}</div>
              </li>
            </ol>
          </ng-template>
        </ais-hits>
      </div>
    </ais-instantsearch>
  </div>
</ion-content>
